.back{
background-image: url('https://images.pexels.com/photos/358480/pexels-photo-358480.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
background-repeat:no-repeat;
background-position: center center;
background-size:cover;
 height:100vh;
  width:100%;
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.sty
{
    color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form-text
{
    color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form-container
{
    border:0px solid white; padding:50px 60px;margin-top:20vh;
    -webkit-box-shadow: 3px 3px 16px 10px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 16px 10px rgba(0,0,0,0.75);
box-shadow: 3px 3px 16px 10px rgba(0,0,0,0.75);
}
body html{
    margin:0;
    color:white;
    padding:0;
}/*
https://images.pexels.com/photos/372462/pexels-photo-372462.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260
#cssmatic
https://images.pexels.com/photos/276388/pexels-photo-276388.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260
*/